/* Add some global styles here! */

:root {
  --red: rgb(208, 67, 12);
  --base-bg: #f1f3f5;
  --brick-red: #9f4142;
}

body {
  font-family: "kohinoor-odia", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-family: "tiller", sans-serif;
  font-weight: 700;
  font-style: normal;
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: #9f4142;
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
